.share {
    img {
        width: 100%;
    }

    .award {
        margin-top: 70px;
        margin-bottom: 100px;
        background: rgba(255, 255, 255, 0.5)
            /* 背景颜色，50%透明度 */
            url('../img/背景.png') repeat;
        background-position: 0% 0%;
        background-size: 20%;
        background-blend-mode: overlay;
        border-radius: 30px;
        height: 750px;

        .award_content {
            display: flex;
            padding-top: 250px;
            gap: 80px;
        }
    }

    .move_left,
    .move_right {
        width: 3%;
    }

    .move_left {
        position: absolute;
        top: 50%;
    }

    .move_right {
        position: absolute;
        top: 50%;
        right: 0%;


    }

}


.img_1 {
position: relative;
}

.circle_top {
position: absolute;
top: 20%;
left: 10%;
width: 80px;
height: 80px;
background-color: #f8c97c;
border-radius: 100%;
/* z-index: -1; */
}


.try_1 {
    margin-top: 70px;
    position: relative;
}

.try_content{

}
.content_circleyellow {
    background-color: #F9C99E;
    width: 1198.303px;
    height: 927.089px;
    transform: rotate(-18deg);
    flex-shrink: 0;
    border-radius: 50%;
    position: absolute;
}

.content_cirlebule {
    width: 1173.546px;
    height: 948.989px;
    transform: rotate(-22.172deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: #9CBBDB;
    position: absolute;
}